@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,400&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    position: relative;
}
header{
    position: fixed;
    width: 100%;
    background-color: #11101d;
    height: 60px;
    display: flex;
    justify-content: center;
}
.sidebar{
    margin-left: auto;
    margin-right: auto;
    height: inherit;
    width: 1300px;
    background: #11101d;
    padding: 6px 14px;
}
.sidebar #casa{
    font-size: 30px;
    margin-right: 7px;
}
.sidebar #homeText{
    padding-top: 3px;
}
#formatHome{
    color: #fff;
    display: flex;
    text-decoration: none;
}
.sidebar #home{
    display: flex;
    position: absolute;
    top: 18px;
    left: 45%;
    font-size: 20px;
    color: white;
    
}
.sidebar .logo_content .logo{
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}
.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px
}
.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}
.sidebar #btn{
    color: #fff;
    position: absolute;
    left: 90%;
    top: 15px;
    font-size: 35px;
}
.sidebar #btn:hover{
    color: #0045bf;
    cursor: pointer;
    transition: 0.6s;
}

#submenu{
    position: absolute;
    height: 200px;
    width: 720px;
    right:-60px;
    top: -15px;
    background-color: #f9f9f9;
    visibility: hidden;
}
.sidebar #btn:hover > #submenu{
    opacity: 1;
    visibility: visible;
    transition: 0.8s;
    margin-top: 60px;

}

#dropdown{
    position: absolute;
    top: 0px;
    height: inherit;
    width: inherit;
}
#list-dropdown{
    height: inherit;
    width: inherit;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.dropdown-items{
    font-size: 1.5rem;
    text-align: center;
    list-style: none;
    float: left;
    width: 180px;
    height: 100%;
    color: black;
    padding-top: 35px;
    box-sizing: border-box
}
.dropdown-items:hover{
    background-color: #e9e9e9;
}
#seta{
    width: 20px;
    height: 20px;
    background-color: #f9f9f9;
    transform: translate(633px) rotate(45deg);
    margin-top: -8px;
}
.imgPgn{
    width: 64px;
    height: 64px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 60px;
    top: 30px
}
#mediaImg{
    background-image: url(../imagens/divisao.png);
}
#calculadoraImg{
    top: 10px;
    background-image: url(../imagens/calculator.png)
}
#tabuadaImg{
    background-image: url(../imagens/multiplicacao.png)
}
#parimparImg{
    height: 72px;
    width: 72px;
    background-image: url(../imagens/51CPicgDMhL.png)
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}
#banner{
    background-image: url(../imagens/Blutick-equipment-background.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #0007;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
span{
    width: 400px;
    font-size: 4rem;
    color: #fff;
    text-shadow: 4px 4px 3px black;
}